div {
	border-color: green;
	border-style: solid;
	border-width: 0px;
}

body{
background-image:url('../images/steaming.jpg');
background-position:center;
background-attachment: fixed;
}

html{
	font-size: 15px;
	line-height: 1.4em;
}

@media(max-width: 980px) {
	html{
		font-size: 12px;
	}
}

@media(max-width: 320px) {
	html{
		font-size: 9px;
		line-height: 20px;
	}
	body {
		margin: auto 0;
		width: 100%;
	}

	#header{
		width: 100%;
		margin-left: 0%;
		font-size: 12px;
	}

	#head{
		margin-left: 0%;
		font-size: 2em;
		width: auto;
		height: auto;
		display: inline-block;

	}

	#head2{
		margin-left: 0%;
		display: inline-block;
		width: 100%;
		height: auto;
		text-align: center;
	}

	#navigation{
		margin-left: 0%;
		width: 100%;
		line-height: 2em;
		height: 5em;
		margin-bottom: 60%;
	}

	#hometext{
		width: 100%;
		margin-left: 0%;
	}

	#menu{
		margin-left: 20%;
	}

	#catering{
		margin-left: 5%;
	}
	#cateringtext{
		width: 100%;
		margin-left: 0%;
	}

	#giftshop{
		width: 100%;
		margin-left: 0%;
	}
	#gifttext{
		width: 100%;
		margin-left: 0%;
	}
	#contact{
		width: 100%;
		margin-left: 0%;
	}
	#contacttext{
		width: 100%;
		margin-left: 0%;
	}
	#location{
		width: 100%;
		margin-left: 0%;
	}
	#locationtext{
		width: 100%;
		margin-left: 0%;
	}
	#menubutton{
		margin-right: 0%;
	}
	#mappic{
		width: 300px;
		height: 200px;
	}
	#navigation{
		width: 100%;
	}
	#navigation a{	
		width: 100%;
	}
}

.container {
	border-color: red;
	padding: 10px;
}

.row {
	border-color: blue;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
}


#header{
	height: auto;
	
}

#head{
	font-size: 5em;
	text-align: center;
}

#head2{
	font-size: 2em;
	text-align: center;
}

li {
    display: inline;
    text-align: center;
}

#mainrow{
	background-color: rgba(0, 0, 0, 0.7);
	padding-top: 1%;
}

#quote{
	text-align: center;
	font-size: 1.5em;
	padding-top: 1%;
}

#pic{
	padding-top: 5%;

}

#picc{
	margin-left: 25%;
}

#hometext{
	font-size: 1.5em;
	text-align: center;
	padding-bottom: 5%;
}

.col-xs-6{
	padding-top: 5%;
	margin-left: 25%;
}

.img-contain {
  width: 50%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.img {
  margin-left: 10%;
}

#menu{
	font-size: 5em;
	text-align: center;
	padding-top: 0%;
}

#catering{
	font-size: 5em;
	text-align: center;
	padding-top: 5%;
}

#cateringtext{
	font-size: 1.5em;
	text-align: center;
}

#giftshop{
	font-size: 5em;
	text-align: center;
	padding-top: 5%;
}

#gifttext{
	font-size: 1.5em;
	text-align: center;
}

#contact{
	font-size: 5em;
	text-align: center;
	padding-top: 5%;
}

#contacttext{
	font-size: 1.5em;
	text-align: center;
}

#location{
	font-size: 5em;
	text-align: center;
	padding-top: 5%;
}

#locationtext{
	font-size: 1.5em;
	text-align: center;
}

#navigation { 
padding-top: 2%;
margin-left: 12%; 
margin-right:auto; 
width:985px; 
height:40px; 
} 

#navigation a { 
text-decoration:none; 
color: white; 
padding:0px 10px; 
font-family:Arial; 
font-size:1em; 
} 

#navigation a:hover { 
text-decoration: none; 
color: gray; 
} 

#navigation{
	margin-left: 0%;
	padding-bottom: 6%;
	width: 100%;
	text-align: center;
}

#mappic{
	margin-top: 5%;
	margin-bottom: 5%;
}

#menubutton{
	margin-top: 5%;
}